<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<title>regiester student data</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/home}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/insertData}">Add data</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/done}">Customer data</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="#">Disabled</a>
				</li>
			</ul>
		</div>
	</nav>
	<br>
	
	
	
	<h1 class="text-center">this is home page</h1>
</body>
</html>