<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<title>updatedata student data</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/insertData}">insertdate</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{updata/{id}}">update</a>
				</li>
				<li class="nav-item">
					<a class="nav-link " href="@{/done}">all details</a>
				</li>
			</ul>
		</div>
	</nav>
	<br>
	
	<div class="container">
		<h1>update form</h1>
	<div class="row"> 
		<div class="col-5">
			<form th:action="@{/modifyData/{id} (id=${student.id})}" th:object="${student}" method="get">
			<!--<div class="form-group">
				<label for="exampleInputEmail1">id</label>
				<input type="number" class="form-control" id="exampleInputEmail1" name="id"
					placeholder="Enter id">
			</div>-->
			<div class="form-group">
				<label for="exampleInputPassword1">name</label>
				<input type="text" class="form-control"  placeholder="firstname" name="name"
				 th:field="*{name}">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">mail</label>
				<input type="email" class="form-control"  placeholder="email" name="mail"
				th:field="*{mail}">
			</div>
			<br>
			<div class="form-group">
				<label for="exampleInputPassword1">phone</label>
				<input type="text" class="form-control"  placeholder="phone" name="phone" 
				th:field="*{phone}">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

		</div>
	</div>
	</div>
		
		

</body>

</html>